{% extends "themes/admin/base_admin.html.twig" %}

{% block title %}Admin - Article : {{post.title}}{% endblock %}

{% block description %}Admin - Article : {{post.title}}{% endblock %}

{% block main %}
    <div class="container mx-auto mt-3 col-lg-6 col">
         {% for flash_error in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash_error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}  
    </div>
    <h1 class="text-center display-5 my-3">{{post.title}}</h1>

    <div class="container my-5">
        <a href="{{path('admin.post.index')}}" class="text-decoration-none">Retour</a>

        <div class="text-center">
        {% if post.image %}
            <img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="{{ post.title }}" class="img-fluid">
        {% endif %}
        </div>   

        {{post.content|raw}}
        <a href="{{path('admin.post.index')}}" class="text-decoration-none">Retour</a>
    </div>
{% endblock %}

