<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{{path("user.home.index")}}"><img class='img-fluid logo-navbar-size' src="{{asset('images/logo/logo-removebg-preview.png')}}" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-5 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("user.home.index")}}">{{app.user.firstName}} {{app.user.lastName}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("visitor.welcome.index")}}">Retour à l'accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('visitor.authentication.logout')}}">Deconnexion</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('admin.dashboard.index')}}">Espace Admin</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>