{% extends "themes/admin/base_admin.html.twig" %}

{% block title %}Ajouter un tag{% endblock %}

{% block description %}Ajouter un tag ...{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block datatables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
 
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
{% endblock %}

{% block main %}
    <div class="container mx-auto mt-3 col-lg-6 col">
         {% for flash_error in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash_error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}  
    </div>

    <div class="container-fluid">
        <h1 class="text-center mt-3">Liste des Tags</h1>
    <div class="my-3 text-center">
        <a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#CreeTagModal">Ajouter un tag</a>
    </div>
    <div class="table-responsive mx-2">
        <table id="table" class="table table-striped table-hover shadow" style="border: 1px solid silver">
            <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Slug</th>
                    <th>Crée le</th>
                    <th>Modifie ler</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody class="table-light">
                {% for tag in tags %}
                    <tr>
                        <td>{{tag.id}}</td>
                        <td>{{tag.name}}</td>
                        <td>{{tag.slug}}</td>
                        <td>{{tag.createdAt|format_datetime('long', 'short', locale='fr')}}</td>
                        <td>{{tag.updatedAt|format_datetime('long', 'short', locale='fr')}}</td>
                        <td class="text-center text-lg-start">
                            <a title="Modifier" href="{{path("admin.tag.edit", {'id' : tag.id})}}"><i class="bi bi-pencil-square text-secondary fs-3 me-lg-3 me-0"></i></a>
                            <a onclick="event.preventDefault(); return confirm('Confirmer la suppression de ce tag ?') && document.querySelector('#tag_delete_form_{{tag.id}}').submit()" title="Supprier" href="#"><i class="bi bi-trash text-danger fs-3"></i></a>
                            <form action="{{path("admin.tag.delete", {'id' : tag.id})}}" method="post" id="tag_delete_form_{{tag.id}}">
                                <input type="hidden" name="csrf_token" value="{{csrf_token("tag_delete_"~tag.id)}}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mt-3">
            <a href="{{path('admin.dashboard.index')}}" class='text-primary text-decoration-none'>Retour page principale</a>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="CreeTagModal" tabindex="-1" aria-labelledby="CreeTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CreeTagModalLabel">Ajouter un tag</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{form_start(form)}}
            <div class="mb-3">
                <label for="tag_form_name" class="form-label">Nom</label>
                <div class="text-danger">
                    {{form_errors(form.name)}}
                </div>
                {{form_widget(form.name, {'attr' : {'class' : 'form-control'}})}}
            </div>
        </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-secondary flex-fill text-primary" data-bs-dismiss="modal">Fermer</button>
            <input formnovalidate type="submit" class="btn btn-primary flex-fill text-info" value="Créer">
      </div>
        {{form_end(form)}}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            let table = $('#table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
                },
                order: [[ 4, 'asc' ]]
            });

        } );
    </script>
{% endblock %}