{% set curentPathInfo = app.request.pathInfo%}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header border-bottom">
    <h3 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">{{app.user.firstName}} {{app.user.lastName}} <a href="{{path('admin.dashboard.index')}}" >{% for roles in app.user.roles %} {% if "ROLE_SUPER_ADMIN" in roles %} Super {% elseif "ROLE_ADMIN" in roles %}Admin {% endif %} {% endfor %}</a></h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>Gestion de contenu :</h5>
        <ul class='navbar-nav ms-4'>
            <li class='nav-item fs-5 '>
                <a href="{{path('admin.category.index')}}" class='nav-link text-decoration-none p-0 {{curentPathInfo == path("admin.category.index") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.category.index') ? "aria-current='page'"  : ''}} aria-current="page">
                    <i class="bi bi-bookmark-dash text-secondary fs-4"></i> Catégories
                </a>
            </li>
            <li class='nav-item fs-5 '>
                <a href="{{path('admin.post.index')}}" class='text-decoration-none {{curentPathInfo == path("admin.post.index") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.post.index') ? "aria-current='page'"  : ''}} >
                    <i class="bi bi-file-post text-secondary fs-4"></i> Article
                </a>
            </li>
            <li class='nav-item fs-5'>
                <a href="{{path('admin.country.list')}}" class='text-decoration-none {{curentPathInfo == path("admin.country.list") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.country.list') ? "aria-current='page'"  : ''}}>
                    <i class="bi bi-globe-europe-africa text-secondary fs-4"></i> Pays
                </a>
            </li>
            <li class='nav-item fs-5'>
                <a href="{{path('admin.tag.index')}}" class='text-decoration-none {{curentPathInfo == path("admin.tag.index") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.tag.index') ? "aria-current='page'"  : ''}}>
                    <i class="bi bi-tags text-secondary fs-4"></i> Tags
                </a>
            </li>
            <li class="nav-item fs-5">
                <div class="dropdown-center">
                    <a class="dropdown-toggle text-decoration-none" style='cursor:pointer' data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-body-text text-secondary fs-4"></i> Changement des contenu
                    </a>
                    <ul class="dropdown-menu dropdown-center bg-primary">
                        <li><a class="dropdown-item text-info" href="{{path('admin.setting_index.edit', {'id' : 1})}}">Parametres des page d'accueil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-info" href="{{path('admin.setting_contact.edit', {'id' : 1})}}">Parametres des page de contact</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <hr class="my-2">
        <h5>Gestion des utilisateurs</h5>
        <ul class="navbar-nav ms-4">
            <li class="nav-item fs-5">
                <a href="{{path('admin.user.index')}}" class='text-decoration-none {{curentPathInfo == path("admin.user.index") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.user.index') ? "aria-current='page'"  : ''}}>
                    <i class="bi bi-people text-secondary fs-4"></i> Utilisateurs
                </a>
            </li>
            <li class="nav-item fs-5">
                <a href="{{path('admin.contact.index')}}" class='text-decoration-none {{curentPathInfo == path("admin.contact.index") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.contact.index') ? "aria-current='page'"  : ''}}>
                    <i class="bi bi-person-lines-fill text-secondary fs-4"></i> Contacts
                </a>
            </li>
            <li class="nav-item fs-5">
                <a href="{{path('admin.comment.index')}}" class='text-decoration-none {{curentPathInfo == path("admin.comment.index") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.comment.index') ? "aria-current='page'"  : ''}}>
                    <i class="bi bi-chat-left-text text-secondary fs-4"></i> Commantaire
                </a>
            </li>
        </ul>
        <hr class="my-2">
        <h5>Autre</h5>
        <ul class="navbar-nav ms-4">
            <li class='nav-item fs-5'>
                <a href="{{path('admin.statistics.index')}}" class='text-decoration-none {{curentPathInfo == path("admin.statistics.index") ? 'sidevar-item-active' : 'text-primary'}}' {{curentPathInfo == path('admin.statistics.index') ? "aria-current='page'"  : ''}}>
                    <i class="bi bi-graph-up-arrow text-secondary fs-4"></i> Statistiques
                </a>
            </li>
            <li class="nav-item fs-5">
                <a href="{{path('user.home.index')}}" class='text-decoration-none'>
                    <i class="bi bi-person-circle text-secondary fs-4"></i> Espace utilisateur
                </a>
            </li>
            <li class="nav-item fs-5">
                <a href="{{path('visitor.welcome.index')}}" class='text-decoration-none'>
                    <i class="bi bi-arrow-return-left text-secondary fs-4"></i> Retour au site
                </a>
            </li>
            <li class="nav-item fs-5">
                <a href="{{path('visitor.authentication.logout')}}" class='text-decoration-none'>
                    <i class="bi bi-box-arrow-left text-secondary fs-4"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>
</div>