{% extends "themes/user/base_user.html.twig" %}

{% block title %}Modification de mot de passe{% endblock %}
{% block description %}Modification de mot de passe{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Modification de mot de passe</h1>

    <div class="container mt-5">
        <div class="col-lg-6 mx-auto bg-primary-subtle rounded shadow p-5">
            {{form_start(form)}}
                <div class="mb-3">
                    <label for="edit_profile_password_form_currentPassword" class='form-label'>Mot de passe actuel</label>
                        <div class="text-danger">
                            {{form_errors(form.currentPassword)}}
                        </div>
                    {{form_widget(form.currentPassword, {'attr' : {'class' : 'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="edit_profile_password_form_password_first" class='form-label'>Nouveau mot de passe</label>
                        <div class="text-danger">
                            {{form_errors(form.password.first)}}
                        </div>
                    {{form_widget(form.password.first, {'attr' : {'class' : 'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="edit_profile_password_form_password_second" class='form-label'>Confirmation de nouveau mot de passe</label>
                        <div class="text-danger">
                            {{form_errors(form.password.second)}}
                        </div>
                    {{form_widget(form.password.second, {'attr' : {'class' : 'form-control'}})}}
                </div>
                <div class="mt-4 d-grid">
                    <input type="submit" value="Modifier" class="btn btn-primary shadow" formnovalidate>
                </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}