{% block title %}Modifier le profil{% endblock %}
{% block description %}Modifier le profil{% endblock %}

{% extends "themes/user/base_user.html.twig" %}

{% block main %}
        <h1 class="text-center display-5 my-3 text-primary">Modifier le profil</h1>

        <div class="container mt-3">
            <div class="col-lg-6 bg-primary-subtle rounded p-5 shadow-lg mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label for="edit_profile_form_firstName" class='form-label'>Prénom</label>
                            <div class="text-danger">
                                {{form_errors(form.firstName)}}
                            </div>
                        {{form_widget(form.firstName, {'attr' : {'class' : 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="edit_profile_form_lastName" class='form-label'>Nom</label>
                            <div class="text-danger">
                                {{form_errors(form.lastName)}}
                            </div>
                        {{form_widget(form.lastName, {'attr' : {'class' : 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="edit_profile_form_email" class='form-label'>Email</label>
                            <div class="text-danger">
                                {{form_errors(form.email)}}
                            </div>
                        {{form_widget(form.email, {'attr' : {'class' : 'form-control'}})}}
                    </div>
                    <div class="mt-5 d-grid">
                        <input type="submit" value="modifier" class="btn btn-primary shadow">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
{% endblock %}