{% extends "themes/visitor/base_visitor.html.twig" %}
 
{% block title %} - Le blog sur la santé - {{post.title}}{% endblock %}

{% block FontAwesome %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}
    <main>
        <div class="container my-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('visitor.blog.index')}}">Liste des articles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{post.title|u.truncate('50', '...')}}</li>
                </ol>
            </nav>

                {% if post.image %}
                    <img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="{{post.title}}" class="img-fluid">
                {% else %}
                    
                {% endif %}
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                <h1 class="text-center my-3 pe-4 display-5">{{post.title}}</h1>
                    <div class="bg-info p-1 border-5 rounded border-secondary">
                        <a id="like-link" href="{{path('visitor.blog.post.like', {'id' : post.id, 'slug' : post.slug})}}" class="text-decoration-none">
                            {% if app.user and post.isLikedBy(app.user) %}
                                <span><i id="bounce" class="bi bi-hand-thumbs-up-fill fs-3"></i></span> 
                            {% else %}
                                <span><i class="bi bi-hand-thumbs-up fs-3"></i></span> 
                            {% endif %}
                            <span id="total-like-container">{{post.postLikes|length}}</span>
                            <span class="">J'aime</span> {# Post no liké #}
                        </a>
                    </div>
                </div>
                    <p class="text-center text-dark-emphasis fs-4">Publié {{post.updatedAt|ago}} par Bout de monde</p>



                <article class="container">
                    {{post.content|raw}}
                </article>
            </div>
                {% if postRecent is not empty %}
                    <div class=" bg-primary py-5 container-fluid">
                        <h3 class="text-center text-info display-5 mb-5">Voir les articles les plus récentes</h3>
                    <div class="container d-flex gap-3 justify-content-evenly mt-5 flex-lg-row flex-column">
                        {% for arcticle in postRecent %}
                        <div class="col-lg-4">
                            <div class="card bg-secondary" data-aos="zoom" data-aos-duration="2000" style='max-width: 780px'>
                                {% if arcticle.image %}
                                    <img src="{{ vich_uploader_asset(arcticle, 'imageFile') | imagine_filter('visitor_blog_thumbnail') }}" style='max-height: 620px' alt="{{ arcticle.title }}" class="w-100 h-100 rounded rounded-bottom-0">
                                {% else %}
                                    <img src="{{asset("images/welcome_page/pas_d_image_disponible.jpg")}}" class="w-100 h-100 rounded" style='max-height: 620px' alt={{arcticle.title }}>
                                {% endif %}
                                <div class="card-title text-center mt-3 text-dark display-6">
                                    <h4>{{arcticle.title}}</h4>
                                </div>
                                <div class="card-body text-center text-dark">
                                    <p class="card-text">{{arcticle.content|striptags|u.truncate(200, '...')|raw}}</p>
                                </div>
                                <div class="d-grid container mb-3">
                                    <a href="{{path('visitor.blog.post.show', {'id': arcticle.id, 'slug': arcticle.slug})}}" class="text-info btn btn-sm btn-primary">Lire la suite</a>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text text-center"><small class="text-body-secondary">Publié {{post.updatedAt|ago}}</small></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                    {% endif %}

                {% if app.user %}
                <div class="d-flex justify-content-center bg-info">
                    <div class="my-5 col-lg-4" id="create-comment-box">
                        {{form_start(form, {'action': path('visitor.blog.post.show', {'id':post.id, 'slug':post.slug})~"#create-comment-box" } ) }}
                            <div class="mb-3">
                                <div class="text-danger">
                                    {{form_errors(form.content)}}
                                </div>
                                {{form_widget(form.content, {'attr' : {'class' : 'form-control', 'placeholder' : 'Laissez un commentaire', 'rows': 8}})}}
                            </div>
                            <div class="d-grid col-6 mx-auto">
                                <input formnovalidate type="submit" value="Commentez" class="btn btn-primary text-info">
                            </div>
                        {{form_end(form)}}
                    </div>
                </div>
                {% else %}
                    <div class="py-5 text-center bg-info">
                        <h5 class='text-primary'>Vous n'est pas inscrire. Veuillez vous connectez pour laisser un commentaire.</h5>
                        <div class="d-flex align-items-center justify-content-center gap-3 flex-md-row flex-column">
                            <a href="{{path('visitor.authentication.authenticate')}}" style='max-width: 200px' class="btn btn-primary text-info mt-2 flex-fill">Se connecter</a>
                            <a href="{{path('visitor.registration.register')}}" style='max-width: 200px' class="btn btn-secondary text-primary mt-2 flex-fill">S'inscrire</a>
                        </div>
                    </div>
                {% endif %}
                
                <hr class='border border-primary border-3 opacity-75 m-0'>

                <div class="bg-info py-4">
                {% if post.comments is not empty %}
                    <h2 class="mb-3 display-6 text-center text-primary">Commentaires</h2>
                        {% set count = 0 %}
                        {% if post.comments is not empty %}
                        {% for comment in post.comments %}
                            {% if comment.isActivated %}
                                {% set count = count + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% for comment in post.comments|reverse %}
                        {% if comment.isActivated %}     
                            <div class="d-flex justify-content-center">
                                <div class="col-lg-6">
                                    <div class=" bg-secondary p-3 rounded border border-secondary shadow border-2 mb-4" data-aos="fade-in">
                                        <div class="d-flex justify-content-evenly">
                                            <h5 class='fw-bold text-info-emphasis'>{{comment.user.firstName}} {{comment.user.lastName}}</h5>
                                            <h5 class=''>
                                            {{'ROLE_SUPER_ADMIN' in comment.user.roles ? "<span class='badge text-bg-primary shadow mx-2 text-info'>Super Admin</span>" : ''}}
                                            {{'ROLE_ADMIN' in comment.user.roles ? "<span class='badge text-bg-info text-primary shadow mx-2'>Admin</span>" : ''}}
                                            {{'ROLE_USER' in comment.user.roles ? "<span class='badge text-bg-primary text-info shadow mx-2'>Utilisateur</span>" : ''}}
                                            </h5>
                                        </div>
                                        <div class="d-flex justify-content-center pt-3">
                                            <small class=" text-dark-emphasis">Publié {{comment.createdAt|ago}} par {{comment.user.firstName}} {{comment.user.lastName}}</small>
                                        </div>
                                        <hr >
                                        <p class='text-center fs-5'>{{comment.content}}</p>
                                    </div> 
                                </div>        
                            </div>   
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <h5 class='mb-3 display-6 text-center text-primary'>Aucun commentaire pour le moment</h5>
                {% endif %}
                    
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(){
            $('#like-link').on('click', function(event){
                event.preventDefault();

                $.ajax({
                    url: this.href,
                    type: 'GET',
                    success: function(response){
                        $('#total-like-container').html(response.totalLikes);

                        if($('i').hasClass('bi-hand-thumbs-up')){
                            $('i').removeClass('bi-hand-thumbs-up');
                            $('i').addClass('bi bi-hand-thumbs-up-fill');
                        } else {
                            $('i').removeClass('bi bi-hand-thumbs-up-fill');
                            $('i').addClass('bi bi-hand-thumbs-up');
                        }
                    },
                    error: function(response){
                        if(response.status == 403){
                            alert(response.responseJSON.message);
                        } else {
                            alert('Une erreur est survenue. Veuillez réesayer plus tard.');
                        }
                    },
                });
            });
        });
    </script>
{% endblock %}
