{% extends "themes/admin/base_admin.html.twig" %}
{% block title %}Liste des utilisateurs{% endblock %}
{% block description %}{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block datatables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
 
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
{% endblock %}

{% block main %}
    <div class="container mx-auto mt-3 col-6">
         {% for flash_error in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash_error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}  
    </div>
    <div class="">
        <div class="container-fluid">
            <h1 class="text-center my-3">Liste des Utilisateurs</h1>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="table">
                    <thead class="table-primary">
                        <tr>
                            <th>Id</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Vérifie</th>
                            <th>Rôle</th>
                            <th>Crée le</th>
                            <th>Modifié le</th>
                            <th>Vérifié le</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody class='table-secondary'>
                        <tr>
                        {% for user in users %}
                            <td>{{user.id}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>
                            {% if user.isVerified == 1 %}
                                C'est verifié
                            {% elseif user.isVerified == 0 %}
                                N'est pas verifié
                            {% endif %}
                            </td>
                            <td class="text-center">
                                {% for role in user.roles %}
                                    {% if "ROLE_SUPER_ADMIN" == role %}
                                        <span class="badge text-bg-dark">{{role}}</span>
                                    {% elseif "ROLE_ADMIN" == role %}
                                        <span class="badge text-bg-warning">{{role}}</span>
                                    {% elseif "ROLE_USER" == role %}
                                        <span class="badge text-bg-success">{{role}}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{user.createdAt|format_datetime('long', 'short', locale='fr')}}</td>
                            <td>{{user.updatedAt|format_datetime('long', 'short', locale='fr')}}</td>
                            <td>
                                {% if user.VerifiedAt is not empty %}
                                    {{user.VerifiedAt|format_datetime('long', 'short', locale='fr')}}
                                {% else %}
                                    <p>---</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if "ROLE_SUPER_ADMIN" not in user.roles %}
                                {% if user.isVerified %}
                                    <a  href="{{path('admin.user.edit', {'id':user.id})}}"><i class="bi bi-pencil-square text-secondary fs-3"></i></a>
                                {% endif %} 
                                {% if app.user.id != user.id %}
                                    <a onclick="event.preventDefault();return confirm('Confirmer la supression du compte ?') && document.querySelector('#delete-user-{{user.id}}').submit()"
                                    href="#"><i class="bi bi-trash text-danger fs-3"></i></a>
                                    <form action="{{path("admin.user.delete", {'id' : user.id}) }}" method="post" id="delete-user-{{user.id}}">
                                        <input type="hidden" name="_method" value='DELETE'>
                                        <input type="hidden" name="csrf_token" value="{{csrf_token('delete_user_'~user.id)}}">
                                    </form>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a href="{{path('admin.dashboard.index')}}" class='text-primary text-decoration-none'>Retour page principale</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            let table = $('#table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
                },
                order: [[ 8, 'ASC' ]]
            });
        });
    </script>
{% endblock %}