{% extends "themes/admin/base_admin.html.twig" %}

{% block main %}
    <div class="container-fluid mt-5">
        <h1 class='text-center my-3 display-5'>Modifier la catégorie</h1>
    <div class="bg-primary-subtle col-md-6 mx-auto rounded shadow p-2 p-lg-5">
    {{form_start(form)}}
        <div class="mb-3">
            <label for="category_form_name" class="form-label">Nom de catégorie</label>
                <div class="text-danger">
                    {{form_errors(form.name)}}
                </div>
            {{form_widget(form.name, {'attr' : {"class" : "form-control"}})}}
        </div>
        <div class="mb-3">
            <input formnovalidate type="submit" value="Modifier" class="btn btn-primary shadow w-100 text-info">
        </div>
    {{form_end(form)}}
        <div class="text-center mt-2">
            <a href="{{path('admin.category.index')}}" class='text-primary text-decoration-none'>Retour à la page des catégories</a>
        </div>
    </div>
{% endblock %}