{% extends 'themes/visitor/base_visitor.html.twig' %}

{% block title %}Bienvenue sur mon blog !{% endblock %}
{% block description %}Jusqu'au bout de monde c'est un site de type blog où je racontre toutes mes adventures dans mes voyages partout le monde{% endblock %}
{% block keywords %}Accueil, Bienvenue, Welcome{% endblock %}

{% block main %}
    <div class="bg-secondary py-3">
    <header class='container hero-image '>
    <h1 class='text-center pt-3 display-5 text-primary '>Bienvenue sur mon blog de voyage</h1>
    <div class="container d-flex justify-content-center col-6">
         {% for flash_error in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash_error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}  
    </div>
    <div class="row text-center mt-5">
        <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column order-1 order-lg-0">
            <h5 class='fs-3 mt-5 mt-lg-0 '>Lorem, ipsum dolor.</h5>
            <p class='mt-3 fs-5 '>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas consequatur mollitia sapiente minima sed inventore laborum dolore reiciendis, pariatur earum ullam atque ratione tempora iusto porro dolorum, reprehenderit unde esse veniam repellendus id sint numquam.</p>
        </div>
        <div class="col-lg-6 order-0 order-lg-1">
            <img src="{{asset('images/welcome_page/hero_image.jpg')}}" class='img-fluid rounded shadow-lg' style='max-height: 620px' alt="">
        </div>
    </div>
    </header>
    </div>
    <article class='text-center mt-5'>
        <h2 class='text-primary fw-bold'>Les dernières aventures</h2>
        <h2 class='text-secondary fw-bold'>sur mon voyage</h2>
            <div class="container-fluid mt-5">
                <div class="d-flex flex-lg-row flex-column justify-content-evenly">
                {% if posts is not empty %}
                    <div class="d-flex flex-md-row flex-column justify-content-center gap-5 container-fluid mb-5">
                        {% for post in posts %}
                        <div class="card">
                            {% if post.image %}
                                <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('visitor_blog_thumbnail') }}" alt="{{ post.title }}" class="rounded-2 rounded-bottom-0 w-100 h-100 ">
                            {% else %}
                                <img src="{{asset("images/visitor/blog/pas_d_image_disponible.jpg")}}" class="w-100 h-100 rounded" alt={{post.title }}>
                            {% endif %}
                            <div class="card-title text-center mt-3">
                                {{post.title}}
                            </div>
                            <div class="card-body text-center">
                                <p class="card-text">{{post.content|striptags|u.truncate(200, '...')|raw}}</p>
                            </div>
                            <div class="d-grid container mb-3">
                                <a href="{{path('visitor.blog.post.show', {'id': post.id, 'slug': post.slug})}}" class="btn btn-sm btn-primary">Lire la suite</a>
                            </div>
                        <div class="card-footer">
                            <p class="card-text text-center"><small class="text-body-secondary">Publié {{post.updatedAt|ago}}</small></p>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
        </section>
        <div class="d-flex flex-column flex-lg-row gap-3 justify-content-evenly align-items-center mt-5">
        </div>
    </article>
    <section class='bg-primary py-3 container-fluid' id='about-me'>
    <h2 class='text-center my-3 display-5 text-info'>Qui suis Je ?</h2>
    <div class="row mt-5">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <p class='text-secondary'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit atque ea delectus!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
        <p class='text-info'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit esse veritatis quibusdam nam nesciunt aperiam, ea excepturi quidem nobis corporis!</p></div>
        <div class="col-lg-6"></div>
    </div>
    </section>

    <section class='bg-info py-3 container-fluid'>
        <h2 class='text-center my-3 display-5 text-primary'>Mes déstination préferes</h2>
    </section>
{% endblock %}
